table.alternate tr:nth-child(even) {
    background: #CCC
}

table.alternate tr:nth-child(odd) {
    background: #FFF
}

table.lined tr {
    border-bottom: solid 1px lightgrey;
}

.col-name {
    width: 250px;
}

table .table-header {
    color: #0a78d1;
    font-weight: bold;
}

th#displayname {
    width: 300px;
}

th#rootdir {
    width: 250px;
}

th#versiondb {
    width: 120px;
}

th#release {
    width: 250px;
}

th#source {
    width: 80px;
}

th#uses {
    width: 40px;
}

th#details-actions {
    width: 40px;
}

th#admins-actions {
    width: 40px;
}

td.displayname {
    font-weight: bold;
}

tr.std td {
    background-color: #c0ffc0;
}

.title-col {
    width: 200px;
}

td.frankenstyle {
    display: none;
}

.title-col {
    vertical-align: top;
}

#details-area, #courses-area {
    position: fixed;
    top: 80px;
    width: 60%;
    height: 60%;
    background-color: white;
    border: 3px solid grey;
    overflow-y:scroll;
    overflow-x:scroll;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
}

#waiting-box {
    position: fixed;
    top: 80px;
    width: 50%;
    height: 40%;
    padding-top: 50px;
    background-color: white;
    border: 3px solid grey;
    overflow-y:scroll;
    overflow-x:scroll;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
}

#details-nav, #courses-nav, #details-content, #courses-content {
    padding: 5px;
}

#grauschleier {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}